/*-----------------------*/
/* GLOBAL STYLES*/
   *
   {
       width: 1200px;
       font-family: 'Courier New', Courier, monospace;
       margin: auto;
       padding: 0;
   }

   .main_container
   {
       width: 70%;
       margin: auto;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
   }


/* GLOBAL STYLES*/
/*-----------------------*/


/*-----------------------*/
/* HEADER STYLES*/

.header_container 
{
    width: 1200px;
    margin: 0 0 20px 0;
    padding: 0;
}

    .header_image
    {
        height: 400px;
        width: 1200px;
        margin: 0;
        padding: 0 0 0;
    }

    .nav_container 
    {   
        position: relative;
        width: 50%;
        margin-top: -50px;
        padding: 25px;
        background: #E7F4F7;
        text-decoration: none;
        border-radius: 10px;
        box-shadow: 3px 3px lightgrey;    }

        .nav_list
        {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
        }

            .nav_list_element
            {
                width: 100%;
                margin: 0;
                padding: 0;
                list-style: none;
                text-align: center;          
            }
            .nav_list_element > a
            {
                text-align: center; 
                text-decoration: none;   
                font-family: Helvetica, Arial, sans-serif;
                color: black; 
                font-weight: bold;    
            }
            
            .nav_list .nav_list_element a:hover 
            {
                color: blue; 
                margin-top: -2px;
                padding: 12px;
            }


/* HEADER STYLES*/
/*-----------------------*/


/*-----------------------*/
/* SERVICES STYLES*/

    .servicios
    {
        width:100%;
        display: flex;
        flex-direction: row;
    }

        .serv
        {
            display: flex;
            flex-direction:column;
            justify-content: space-evenly;
            text-align: center;
            align-content: space-between;
            background: #E7F4F7;
            margin: 15px;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 3px 3px lightgrey;
            
        }
            .tit
            {
                width: auto;
                padding-bottom: 10px;
            }    
            .imgserv
            {
                width:100%;
                height: 150px;
                margin: auto;
                align-items: baseline;
            }
            .txt
            {
                padding-top: 15px;
                width: auto;
            }

/* SERVICES STYLES*/
/*-----------------------*/


/*-----------------------*/
/* NEWS STYLES*/
.news_container
{
    width: 100%;
    margin: 20px 0;

}

    .news_row
    {
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

        .news_element
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 20px;
            background: #E7F4F7;
            padding: 0px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 3px 3px lightgrey;
        }
            .news_image
            {
                width: 100%;
                height: 200px;
                margin: 0;
            }

            .news_title
            {
                width: auto;
                padding: 10px;
                margin: 20px 0 0px 0;
                text-align: center;

            }

            .news_text
            {
                width: auto;
                padding: 10px;
                margin: 10px;
                text-align: center;
            }

            .news_link
            {
                width: auto;
                text-decoration: none;
                font-weight: bold;
                color: #2175BD;
                margin: 0px;
                padding: 15px;

            }

/* NEWS STYLES*/
/*-----------------------*/



/*-----------------------*/
/* TEAM STYLES*/


.team_title {
    text-align: center;
    padding: 10px;
}
.team_container
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}
.team_element {
    width: 100%;
    margin: 10px;
    padding: 15px;
    background: #E7F4F7;       
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 3px 3px lightgrey;
}
.team_image
{
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

.team_name
{
    width: 100%;
    text-align: center;
    padding: 5px;
}
.team_description
{
    width: 100%;
    text-align: center;
    padding: 10px;
}


/* TEAM STYLES*/
/*-----------------------*/



/*-----------------------*/
/* FOOTER STYLES*/

.footer{
  margin: 70px 0 0 0;
  width: 100%;
  background-color: #E7F4F7;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left{
    width: 50%;
    text-align: center;
    padding: 10px;
}
.enlace {
    text-decoration: none;
}

.im {
    width: 30px;
    width: 30px;
}
.right{
    padding: 10px;
    width: 50%;
    text-align: justify;
    }

.footer_p
{
    width: 100%;
}

/* FOOTER STYLES*/
/*-----------------------*/
